@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply flex flex-col w-full h-full text-white rounded-2xl shadow-[13px_13px_0_rgb(36,74,208,0.5)];
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(0, 0, 0, 0.8)), url(/eventsPage_cover.jpg);
  background-size: cover;
  background-position: center;
}
.header:hover {
  @apply shadow-[7px_7px_0px_rgb(150,150,150)] ease-out translate-y-1 transition-all;
}

h1 {
  @apply mt-12 text-4xl font-bold text-center;
}

h3, h4 {
  @apply text-sm;
}

h3 {
  @apply font-bold;
}

a {
  @apply text-blue-500;
}

.section-about {
  @apply grid justify-between grid-cols-2 gap-x-5;
  grid-template-columns: 4.5fr 1fr;
}

.social-links {
  @apply flex flex-col gap-5 font-bold;
}

.gallery-item {
  @apply my-10 flex flex-col h-[full] w-[340px];
}

.gallery-item-content {
  @apply bg-gray-100 rounded-2xl;
}

.image {
  @apply rounded-2xl aspect-square w-full object-cover object-center;
}

.line {
  @apply w-full h-[2px] bg-gray-300 rounded-full;
}

.fab {
  @apply flex items-center justify-center w-10 h-10 bg-blue-500 rounded-full;
}

.mySwiper {
  @apply w-full h-full;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide{
  width: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .gallery-item {
    @apply my-10 flex flex-col h-[full] w-[280px];
  }
  .swiper-slide{
    width: 280px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    @apply rounded-2xl aspect-[3/2] w-full object-cover object-center;
  }
}