@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[rgb(242,245,242)] text-gray-800;
}

.header {
  @apply flex flex-col w-full h-full text-white;
  background-image: linear-gradient(to bottom, transparent 0%, #000000bd 70%, #000000 95%), url(/eventsPage_cover.jpg);
  background-size: cover;
  background-position: center;
}

.home-section-heading {
  @apply text-6xl mb-10 mt-0 font-bold;
}

h1 {
  @apply mt-12 mb-6 text-4xl font-bold text-center;
}

h3, h4 {
  @apply text-sm;
}

h3 {
  @apply font-bold;
}

a {
  /* @apply text-blue-500; */
}

p {
  @apply text-lg;
}

.section-about {
  @apply grid justify-between grid-cols-2 gap-x-5;
  grid-template-columns: 4.5fr 1fr;
}

.social-links {
  @apply flex flex-col gap-5 font-bold;
}

.gallery-item {
  @apply rounded-2xl bg-gray-100 flex flex-col grow shrink-0 basis-auto justify-between;
}

.image {
  @apply rounded-2xl aspect-square w-full object-cover object-center;
}

.line {
  @apply w-full h-[2px] bg-gray-300 rounded-full;
}

.mySwiper {
  @apply w-full h-full;
}

.swiper {
  width: 100%;
  height: 100%;
}

.home-top-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.8), rgba(245, 246, 252, 0.8)), url(/osa_cover.jpg);
  background-size: cover;
  background-position: center;
}

.swiper-slide{
  width: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section-about {
    @apply flex flex-col-reverse gap-4;
  }
  .osa-logo {
    @apply w-[30%];
  }
  .swiper-slide{
    width: 280px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    @apply rounded-2xl aspect-[16/9] w-full object-cover object-center;
  }
}