@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F2F2F2] text-[#262323];
  font-size: 1.125rem;
}

.header {
  @apply flex flex-col w-full h-full text-white;
  background-image: linear-gradient(to bottom, transparent 0%, #000000bd 70%, #000000 95%), url(/eventsPage_cover.jpg);
  background-size: cover;
  background-position: center;
}

.home-section-heading {
  @apply text-body1 mb-8 font-bold text-center md:text-left;
}

h1 {
  @apply text-h1 font-bold;
  font-family: var(--font-gruppo);
}

h2 {
  @apply text-h2 font-bold;
  font-family: var(--font-gruppo);
}

h3, h4 {
  @apply text-body1;
}

h3 {
  @apply font-bold;
}

a {
  /* @apply text-blue-500; */
}

button {
  @apply px-6 py-1.5 translate-y-[-2px] bg-[#3B7CF3] text-black hover:bg-[#0309A8] hover:text-white rounded-md border-2 border-black shadow-solid hover:shadow-none font-bold ease-out hover:translate-y-[0px] duration-[0.15s];
  font-family: var(--font-gruppo);
  font-size: 1.125rem;
}

.section-about {
  @apply grid justify-between grid-cols-2 gap-x-5;
  grid-template-columns: 4.5fr 1fr;
}

.social-links {
  @apply flex flex-col gap-5 font-bold;
}

.gallery-item {
  @apply rounded-2xl bg-white flex flex-col grow shrink-0 basis-auto justify-between;
}

.image {
  @apply rounded-2xl aspect-square w-full object-cover object-center;
}

.line {
  @apply w-full h-[2px] bg-default rounded-full;
}

.mySwiper {
  @apply w-full h-full;
}

.swiper {
  width: 100%;
  height: 100%;
}

.home-top-card {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.8), rgba(245, 246, 252, 0.8)), url(/osa_cover.jpg);
  background-size: cover;
  background-position: center;
}

.swiper-slide{
  width: 340px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section-about {
    @apply flex flex-col-reverse gap-4;
  }
  .osa-logo {
    @apply w-[30%];
  }
  .swiper-slide{
    width: 280px !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    @apply rounded-2xl aspect-[16/9] w-full object-cover object-center;
  }
}